body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chessboard {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    width: 60px;
    height: 60px;
}

.cell.black {
    background-color: #769656;
}

.cell.white {
    background-color: #eeeed2;
}
